body{
    background-image: url('images/1.jpeg');
    background-repeat: no-repeat;
    background-size : 1400px 1100px;
}
#bgContainer{
    position : absolute;
    top : 350px;
    left : 370px;
}
#header{
    font-size:70px;
    color : Crimson;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.link{
    font-size:25px;
    color : Crimson;
    text-align: center;
}
a:link{
    color : Crimson;
}
a:visited{
    color : Crimson;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    clear:both;
    color: Crimson;
}