<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href="{{ url_for('static', filename = 'home.css') }}">
    <style>
        body{
    background-image: url("{{url_for('static', filename='1.jpeg')}}");
    background-repeat: no-repeat;
    background-size : 1400px 1100px;
}
    </style>
    <title>Recipe Recommender</title>
</head>
<body>
    <div id="bgContainer">
        <div id = "header">
            Recipe Recommender
        </div>
        <div class = "link">
            <a href="#">Home</a> &nbsp <a href="http://127.0.0.1:5000/about">About</a>
        </div>
        <div class = "link">
            <p><a href = "http://127.0.0.1:5000/Category"> Please Click here to explore different Categories of Grocery</a></p>
        </div>
    </div>
    <footer>
        &copy; Copyright 2020 Recipe Recommender
    </footer>
</body>
</html>